<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/app.css}">

    <title th:text="${title} ?: 'About Us'"></title>
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container my-4">
        <div class="row">
            <div class="col-lg-4 ms-auto">
                <p class="lead" th:text="${description}"></p>
            </div>
            <div class="col-lg-4 me-auto">
                <p class="lead"><b>Developed by:</b> <span th:text="${author}"></span></p>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>